header{
    text-align: center;
}
img{
    width: 100%;
    height: auto;
}
@media (min-width: 600px){
    img{
        width: 49.6%;
    }
}
@media (min-width: 900px){
    img{
        width: 33%;
    }
}